@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
:root{
    --bg-clr:#fff;
    --txt-clr:#000;
    --cntnt-clr:#DFDFDF;
    --accnt-clr:#4F43AE;
    --mde-grd: #323D4D, #EC2626;
    --ftr-clr:#535255;
    --fnt-lght: 100;
    --fnt-nrml: 300;
    --fnt-bld: 500;
}
.darkMode{
    --cntnt-clr:#5E7596;
    --txt-clr:#fff;
    --bg-clr:#323D4D;
    --accnt-clr:hsl(0, 61%, 47%);
}

/** *General + Header **/
body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    background-color: var(--bg-clr);
    color: var(--txt-clr);
}
header h1{
    font-weight: var(--fnt-lght);
    text-align: center;
    font-size: 2.5rem;
}
header button{
    background: linear-gradient(var(--mde-grd));
    padding: 1rem;
    border: solid 1px white;
    border-radius: 50%;
    outline: black 1px solid;
    position: relative;
    bottom: .6rem;
}
header #lMode{
    background: linear-gradient(#DFDFDF, #4F43AE);
}
/** *Main **/
main{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
/** *Form **/
form{
    background-color: var(--cntnt-clr);
    border-radius: 1.5rem;
    margin: 1rem 2rem;
    padding: 2rem;
}
fieldset{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    row-gap: 1rem;
    border: solid 0px;
}
fieldset label{
    font-weight: var(--fnt-bld);
    text-align: center;
}
fieldset #label{
    margin-top: 2rem;
}
fieldset select{
    border: 1.5px solid var(--accnt-clr);
    border-radius: .5rem;
    font-family: inherit;
}
fieldset textarea{
    border: 1.5px solid var(--accnt-clr);
    border-radius: 1rem;
    padding: 1rem;
}
fieldset button{
    background-color: var(--accnt-clr);
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    font-weight: var(--fnt-bld);
    margin-top: 2rem;
    padding: .6rem 1.2rem;
    max-width: 120px;
    border: solid 0px;
    border-radius: 1rem;
    align-self: center;
}
fieldset button:hover{
    filter: brightness(1.2);
}
/** *Chart **/
section{
    background-color: var(--cntnt-clr);
    border-radius: 1.5rem;
    font-weight: var(--fnt-nrml);
    margin: 1rem 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
section canvas{
    max-width: 500px;
    min-height: 400px;
}
section .output{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0rem 3rem;
    column-gap: 1rem;
    border: 1px solid var(--accnt-clr);
    border-radius: 1.5rem;
    background-color: #fff;
    color: #000;
    align-self: center;
    overflow: scroll;
}
/** *Footer **/
footer{
    padding: 1rem ;
    background-color: var(--ftr-clr);
}
/** *Desktop **/
@media (min-width: 769px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    section canvas{
        max-width: 600px;
        min-height: 400px;
    }
}